<ul id="optionsContainer">
    <li class="searchOpt">
        <input type="radio" name="Excl" value="All" id="All" onclick='search("all");' checked="checked"/>All
    </li>
    <li class="searchOpt">
        <input type="radio" name="Excl" value="Featured" id="FT" onclick='search("featured");'/>Featured
    </li>
    <br/><br/>
    <p class="searchTitle" >By language:</p>
    <li ng-repeat="(item_num, items) in searchLang.objects" class="searchOpt">
        <input type="checkbox" name="box" value="{{ items.language }}" id="lan:{{ items.id }}" onclick='search("lan:{{ items.id }}");' checked="checked"/>{{ items.language }}
    </li>
    <br/><br/>
    <p class="searchTitle">By category:</p>
    <li ng-repeat="(item_num, items) in searchCat.objects" class="searchOpt">
        <input type="checkbox" name="box" value="{{ items.cat }}" id="cat:{{ items.id }}" onclick='search("cat:{{ items.id }}");' checked="checked"/>{{ items.cat }}
    </li>
</ul>