<head >
    <script src="{{ STATIC_URL }}lib/jquery/jquery-1.9.1.js"></script>
    <script src="{{ STATIC_URL }}lib/jquery/raphael-min.js"></script>
    <script>
        jQuery(function () {

            var paper = new Raphael(document.getElementById('canvas_container'), 400, 400);

            var tetronimo = paper.path("M 250 250 l 0 -100 l 35 0 l 5 2 l 2 2 l 0 1 l 0 40 l -2 2 l -5 2 -35 0 M 300 150 l 42 0 l -42 95 l 42 0 M 250 250 z");
            tetronimo.attr({
                /*"gradient": "90-#526c7a-#64a0c1",*/
                "stroke": "#3b4449",
                "stroke-width": "10",
                "stroke-linejoin": "round",
                "transform": "r -90"
            });

            tetronimo.animate({"transform": "r 360", 'stroke-width': 1}, 2000, 'bounce', function() {
                        this.animate({
                            "transform": "r 0",
                            "stroke": "#3b4449",
                            'stroke-width': "10"
                        }, 1000);
                    }
            );

        });

    </script>
</head>
<body style="background-color: #efefef;">
{% block body %}
    <div id="canvas_container"></div>
{% endblock %}
</body>