{% extends 'base.html' %}

{% block title %} Search {% endblock %}
{% block body_attributes %}ng-controller="SearchCtrl"{% endblock %}
{% block html_attributes %}ng-app="ipriSearch"{% endblock %}

{% block body %}
    <div id="searchContainer" class="left">
        <form id="searchForm">
            <input id="Search" type="Text" name="search" value="Search..." onfocus="{this.value = '';}" onblur="{this.value = 'Search...';}" />
            <input type="Submit" value="Go" />
        </form>
        <br/>
        <br/>

        <div ng-view>

        </div>
    </div>
    <div id="searchVideosContainer" class="left">
        <ul id="vidUl" class="block">

        </ul>
    </div>
    <script src="{{ STATIC_URL }}js/search.js"></script>
    <script>
        $(document).ready(function() {
            getAllVideos();
        });

        var frm = $('#searchForm');
        frm.submit(function () {
            search($('#Search').val().toLowerCase())
            return false;
        });
    </script>
{% endblock %}