/* ---------------START GLOBAL CSS --------------- */


#all_container {
    margin: 0 auto;
    width: 1050px;
}
/* ---------------END GLOBAL CSS --------------- */
/* --------------- START HEADER CSS --------------- */
#header {
    width: 100%;
    height: 200px;
    padding-bottom:15px;

    border-bottom: 1px solid #c4c4c4;
    border-radius : 10px;
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
}

#user {
    padding: 50px 30px 0px 0px;
}

#logo_container {
    padding-left:70px;
}

#menu {
    padding-left:200px;
    height: 18px;
    float:right;
}

ul:not(#subContainer) {
    list-style: none;
    display: block;
}

ul li.menu {
    float:left;
    text-align: center;
    display: list-item;
    position:relative;
}

ul li a {
    margin: 0 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #555;
}

ul li.menu:not(.sub) a:hover {
    color: #000;
}

li ul {
    display:none
}

li li {
    display:block;
    width:14em ;
    text-align: left;
    padding-left:4px;
    background-color: #dfdfdf;
    padding-top:2px;
    padding-bottom:2px;
}

.topSub{
    padding-top:7px;
}

.sub:hover {
    background-color: #dfdfdf;
}

li li a {
    font-size: 18px;
    font-weight: 500;
    color: #555;
    list-style-type: circle;
}

li li a:hover {
    color: #000;
    background-color: #ddd;
}

li:hover > ul {
    display:block;
    position:absolute;
    top:1.4em;
    width:14em;
    z-index:2
}
li li:hover ul {
    left:4em;
    top:-1px    /* subnav menus align next to their menu item */
}

/* --------------- END HEADER CSS ---------------*/

#main_wrapper {
    width: 100%;
    padding:30px 15px 30px 15px;
}

/* --------------- START FEATURED VIDEOS CSS ---------------*/

#featured {
    padding-top:5px;
    list-style: none;
}

.featuredVideo {
    width:32%;
    float:left;
    text-align: center;
    display: list-item;
    margin:8px 8px 9px 0;
    background-color: #fff;
    border: 2px solid #e7e7e7;
}

.featuredVideo:hover{
    border: 2px solid #c4c4c4;
}

.featuredImage {
    width:50%;
}



/* --------------- END FEATURED VIDEOS CSS ---------------*/
/* --------------- START WATCH VIDEO CSS ---------------*/

#videoTitle {
    font-size: 35px;
    font-weight: 600;
    color: #222;
}

.comment {
    padding:3px;
    border: 1px solid #c4c4c4;
    border-radius : 10px;
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
    margin-bottom:10px;
    background-color:#efefef
}

.separator {
    clear:both;
    border-top: 1px solid #222;
    height: 15px;
}

#commentContainer {
    width:640px;
}

.tags {
    padding:0px 5px 5px 30px;
}

.tagLink {
    color: #00a;
    text-decoration: underline;
}

.tagLinkLi {
    padding-bottom:12px;
}

.voteImg {
    width:20px;
    height:20px;
}

/* --------------- END WATCH VIDEO CSS ---------------*/
/* --------------- START SEARCH CSS ---------------*/

#searchContainer {
    width:25%;
    padding:3px;
    border-right: 1px solid #c4c4c4;
    border-radius : 10px;
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
    margin-bottom:10px;
    height:100%;
}

#searchVideosContainer {
    width:70%;
    padding: 0px 20px 20px 20px;
}

#vidUl {
    padding-top:5px;
    list-style: none;
}

.vid {
    width:45%;
    text-align: center;
    display: list-item;
    margin:8px 8px 9px 0;
    background-color: #fff;
    border: 2px solid #e7e7e7;
}

.vid:hover{
    border: 2px solid #c4c4c4;
}

.vidImage {
    width:250px;
    height:250px;
}

.searchTitle{
    font-size: 18px;
    font-weight: 600;
    color: #555;
    display: block;
    margin-bottom:10px;
}

.searchOpt {
    height:30px;
}



/* --------------- END SEARCH CSS ---------------*/

/* --------------- START UPLOAD CSS ---------------*/

td {
    vertical-align: middle;
}

#submit {
    width: 8em;
    height:3em;
}


.myVideoTitle {
    font-size: 18px;
    font-weight: 600;
    color: #555;
    display: block;
    margin-bottom:10px;
    text-align: left;
}


.myVideoImage {
    width:230px;
    height:180px;
}

.myVideoImageSmall {
    width:115px;
    height:90px;
}


/* --------------- END UPLOAD CSS ---------------*/
/* --------------- START FOOTER CSS ---------------*/
#footer {
    clear:both;
    margin-top:15px;
    width: 100%;
    height: 100px;

    border-top: 1px solid #c4c4c4;
    border-radius : 10px;
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
    padding-top:15px;
}

/* --------------- END FOOTER CSS ---------------*/
