/* ---------------START GLOBAL CSS --------------- */
body {
    background-color: #efefef;
}

@font-face {
    font-family: Textile, cursive
}

#all_container {
    margin: 0 auto;
    width: 1050px;
}
/* ---------------END GLOBAL CSS --------------- */

/* --------------- START HEADER CSS --------------- */
#header {
    width: 100%;
    height: 200px;
    background-color: #efefef;
    padding-bottom:15px;

    border-bottom: 1px solid #d6d6d6;
    border-radius : 10px;
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
}

#logo_container {
    padding-left:70px;
}

#menu {
    padding-left:250px;
    background-color: #efefef;
    height: 18px;
}
ul {
    list-style: none;
    display: block;
}

ul li.menu {
    float:left;
    text-align: center;
    display: list-item;
}

ul li a {
    margin: 0 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #555;
}

ul li.menu a:hover {
    color: #000;
}

.clear {
    clear:both;
}
/* --------------- END HEADER CSS ---------------*/

#main_wrapper {
    width: 100%;
    padding:30px 15px 30px 15px;
}

/* --------------- START FEATURED VIDEOS CSS ---------------*/

#home_videos li {
    float:left;
    display:inline;
}


#featured {
    padding-top:5px;
    list-style: none;
    display: block;
}

.featuredVideo {
    width:32%;
    float:left;
    text-align: center;
    display: list-item;
    margin:8px 8px 9px 0;
    background-color: #fff;
    border: 2px solid #e7e7e7;
}

.featuredVideo:hover{
    border: 2px solid #d5d5d5;
}

.featuredImage {
    width:50%;
}



/* --------------- END FEATURED VIDEOS CSS ---------------*/

/* --------------- START WATCH VIDEO CSS ---------------*/

#videoTitle {
    font-size: 35px;
    font-weight: 600;
    color: #222;
}

/* --------------- END WATCH VIDEO CSS ---------------*/

/* --------------- START FOOTER CSS ---------------*/
#footer {
    margin-top:15px;
    width: 100%;
    height: 100px;

    border-top: 1px solid #d6d6d6;
    border-radius : 10px;
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
    padding-top:15px;
    background-color: #efefef;
}

#info {
    float:right;
}

/* --------------- END FOOTER CSS ---------------*/
