/* ---------------START GLOBAL CSS --------------- */
body {
    background-color: #ddd;
}

@font-face {
    font-family: Textile, cursive
}

#all_container {
    margin: 0 auto;
    width: 1050px;
}
/* ---------------END GLOBAL CSS --------------- */
/* --------------- START HEADER CSS --------------- */
#header {
    width: 100%;
    height: 200px;
    background-color: #ddd;
    padding-bottom:15px;

    border-bottom: 1px solid #c4c4c4;
    border-radius : 10px;
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
}

#logo_container {
    padding-left:70px;
}

#menu {
    padding-left:250px;
    background-color: #ddd;
    height: 18px;
}
ul {
    list-style: none;
    display: block;
}

ul li.menu {
    float:left;
    text-align: center;
    display: list-item;
}

ul li a {
    margin: 0 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #555;
}

ul li.menu a:hover {
    color: #000;
}

.clear {
    clear:both;
}
/* --------------- END HEADER CSS ---------------*/

#main_wrapper {
    width: 100%;
    padding:30px 15px 30px 15px;
}

/* --------------- START FEATURED VIDEOS CSS ---------------*/

#home_videos li {
    float:left;
    display:inline;
}


#featured {
    padding-top:5px;
    list-style: none;
    display: block;
}

.featuredVideo {
    width:32%;
    float:left;
    text-align: center;
    display: list-item;
    margin:8px 8px 9px 0;
    background-color: #fff;
    border: 2px solid #e7e7e7;
}

.featuredVideo:hover{
    border: 2px solid #c4c4c4;
}

.featuredImage {
    width:50%;
}



/* --------------- END FEATURED VIDEOS CSS ---------------*/
/* --------------- START WATCH VIDEO CSS ---------------*/

#videoTitle {
    font-size: 35px;
    font-weight: 600;
    color: #222;
}

.comment {
    padding:3px;
    border: 1px solid #c4c4c4;
    border-radius : 10px;
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
    margin-bottom:10px;
    background-color:#efefef
}

.separator {
    border-top: 1px solid #222;
    height: 15px;
}

#commentContainer {
    width:640px;
}

/* --------------- END WATCH VIDEO CSS ---------------*/
/* --------------- START SEARCH CSS ---------------*/

#searchContainer {
    width:25%;
    float:left;
    padding:3px;
    height:200px;
    border-right: 1px solid #c4c4c4;
    border-radius : 10px;
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
    margin-bottom:10px;
    height:100%;
}

#searchVideosContainer {
    width:70%;
    float:left;
    padding: 0px 20px 20px 20px;
}

#vidUl {
    padding-top:5px;
    list-style: none;
    display: block;
}

.vid {
    width:45%;
    float:left;
    text-align: center;
    display: list-item;
    margin:8px 8px 9px 0;
    background-color: #fff;
    border: 2px solid #e7e7e7;
}

.vid:hover{
    border: 2px solid #c4c4c4;
}

.vidImage {
    width:75%;
}

.searchTitle{
    font-size: 18px;
    font-weight: 600;
    color: #555;
    display: block;
    margin-bottom:10px;
}

.searchOpt {
    display: block;
    height:30px;
}



/* --------------- END SEARCH CSS ---------------*/
/* --------------- START FOOTER CSS ---------------*/
#footer {
    clear:both;
    margin-top:15px;
    width: 100%;
    height: 100px;

    border-top: 1px solid #c4c4c4;
    border-radius : 10px;
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
    padding-top:15px;
    background-color: #ddd;
}

#info {
    float:right;
}

/* --------------- END FOOTER CSS ---------------*/
