#header {
    width: 100%;
    height: 200px;
    border-bottom: solid 1px #000;
    background-color: #efefef;
}

#footer {
    width: 100%;
    height: 100px;
    border-top: solid 1px #000;
    background-color: #efefef;
}

#main_wrapper {
    width: 100%;
    height: auto;
}

#home_videos li {
    float:left;
}